.header__logo-img{
    height: 130px;
    width: 130px;

}
.footer__logo-img{
    height: 130px;
    width: 130px;
    /* margin-bottom: 10px;  */
}
@media screen and (max-width: 480px){
    .footer__logo-img{
        height: 100px;
        width: 100px;
        margin-bottom: 10px; 
      
    }
}
