.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1440px;
}
.cartinka img {
    width: 467px;
    display:flex;
    flex-direction:column;
    height: 768px;
}
.block-colonka {
    width: 460px;
    display:flex;
    flex-direction:column;
}
.tekst{
    background-color: #579994;;
    height: 352px;
}
.designation{
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 144px;
}
a{
    color: rgb(255, 255, 255);
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.cartinka{
    background-image: url('../img/135.png');
    height: 768px;
}
.cartinka1{
    background-image: url("../img/134.png");
    height: 768px;
}
.cartinka2{
    background-image: url("../img/136.png");
    height: 768px;
}
.designation1{
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 345px;
}
.designation2{
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-top: 500px;
}
.subtitle{
    text-align: center;
    font-size: 36px;
    color: #0B322F;
    justify-content: center;
    display: flex;
    margin: 30px;
}
@media screen and (max-width: 768px){
.title{
    font-size: 40px;
}
.subtitle{
    font-size: 30px;
}
.block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block-colonka {
    display: flex;
    flex-direction: row;
    width: 665px;
}
.cartinka{
    width: 330px;
    height: 330px;
    font-size: 32px;
 }
.cartinka1{
    width: 330px;
    height: 330px; 
    font-size: 32px;
}
.cartinka2{
    width: 330px;
    height: 330px;
    font-size: 32px;
}
.designation1{
    padding-top: 144px;
    text-align: center;
    font-size: 32px;
}
.designation2{
    padding-top: 144px;
    text-align: center;
    font-size: 32px;
}
.tekst{
    width: 330px;
    height: 330px; 
    font-size: 32px;   
}
.designation{
    padding-top: 144px;
    text-align: center;
    font-size: 32px;
}

}
@media screen and (max-width: 480px){
 .title{
    font-size: 32px;
}
.subtitle{
    font-size: 24px;
}
.block-colonka{
    display: flex;
    width: 336px;
    flex-direction: column;
    align-items: center;
}
    #block-colonka{ display: flex; flex-direction: column;}
    #one{order: 1;}
    #two{order: 2;}
    #three{order: 4;}
    #four{order: 3;}
    #five{order: 5;}
    #six{order: 6;}

    .designation{
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
    }
    a{
        font-size: 16px;
    }
    .designation1{
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
    }
    .designation2{
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
    }
    .tekst{
        width: 200px;
        height: 200px; 
        font-size: 32px;   
    }
    .cartinka{
        width: 200px;
        height: 200px;

     }
    .cartinka1{
        width: 200px;
        height: 200px;
    }
    .cartinka2{
        width: 200px;
        height: 200px;

    }

    
}




